body {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#overall {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.navigation_bar {
	width: 100%;
	height: 66px;
	background-color: rgba(36, 36, 36, 0.8);
	box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
	position: fixed;
	z-index: 999;
}

.navigation_left {
	position: relative;
	width: 900px;
	height: 66px;
	float: left;
}

.navigation_left img {
	width: 121px;
	height: 75px;
	padding-left: 100px;
	position: relative;
	top: -10px;
}

.navigation_left img:hover {
	cursor: pointer;
}

.navigation_left .menu {
	width: 536px;
	height: 66px;
	position: relative;
	left: -100px;
	float: right;
}

.navigation_left .menu a {
	float: left;
	text-align: center;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	line-height: 60px;
	color: #ccc;
	width: 45px;
	height: 66px;
	margin: 0 30px;
	border-top: 4px solid rgba(36, 36, 36, 0.1);
	transition: 0.5s;
}

.navigation_left .menu .active {
	color: #ffffff;
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
	border-top: 4px solid #69e0ff;
}

.navigation_left .menu a:hover {
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
	color: #ffffff;
	border-top: 4px solid #69e0ff;
}

.navigation_right {
	/* background-color: #69e0ff; */
	position: absolute;
	width: 270px;
	right: 0;
	white-space: nowrap;
	height: 100%;
	top: 0;
	align-items: center;
}

.navigation_right span {
	text-align: center;
	position: relative;
	top: 3px;

}

.navigation_right img {
	vertical-align: middle;
	margin-left: 18px;
	opacity: 0.6;
}

.navigation_right a {
	width: 147px;
	height: 27px;
	float: left;
	position: absolute;
	top: 20px;
	text-align: center;
	color: #cccccc;
	display: block;
}

.navigation_right a:hover img {
	opacity: 1;
}

.navigation_right a:hover {
	color: #ffffff;
}

.header__login .login__btn {
	line-height: 3.6;
	align-items: center;
	float: right;
	padding: 0 10px;
	border: 0;
	outline: none;
	background: none;
	font-size: 17px;
	color: #ccc;
	cursor: pointer;
}

.header__login .login__btn:hover {
	color: #ffffff;
}

.header__login .login__btn:hover img {
	opacity: 1;
}

/* 网页主页图片 */
.banner {
	position: relative;
	display: flex;
	color: #333;
	justify-content: left;
	align-items: center;
	width: 100%;
	background: transparent url(../img/34070c6.jpg) no-repeat 0 0;
	background-size: 100% 100%;
	padding-bottom: 10px;
}

.banner::before {
	padding-top: 33.35%;
	content: "";
	display: block;
	margin: 0 auto;
}

.banner::after {
	padding-top: 33.35%;
	content: "";
	display: block;
	margin: 0 auto;
}

.banner__inner {
	width: 1280px;
	padding-left: 10px;
	box-sizing: border-box;
}

.banner__inner .banner__title {
	font-size: 36px;
	height: 44px;
	line-height: 44px;
	margin-top: 66px;
	margin-bottom: 10px;
	text-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}

.banner__inner .banner__desc {
	width: 600px;
	height: auto;
	font-size: 16px;
	margin-bottom: 24px;
}

.banner__desc p {
	margin: 0;
	line-height: 24px;
	font-weight: 600;
}

.banner__operation {
	width: 376px;
	height: 36px;
}

.banner__operation .banner__popover {
	text-align: center;
	float: left;
	width: 175px;
	height: inherit;
	background-color: #00c0ff;
	line-height: 30px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
}

.banner__operation .banner__resume {
	text-align: center;
	float: right;
	width: 175px;
	height: inherit;
	background-color: #111111;
	line-height: 30px;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
}

.chapters {
	width: 100%;
	height: 825px;
	padding-top: 45px;
	background: transparent url(../img/6d84891.jpg) no-repeat;
	background-size: cover;
	margin: 0 auto;
}

/* 小说部分 */
.chapters ul {
	margin: 0 auto;
	padding: 0;
	width: 1296px;
	height: 780px;
	/* overflow: hidden; */
}
/* 清除浮动 */
.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

.chapters li {
	float: left;
	width: 304px;
	height: 170px;
	border: 1px solid black;
	margin-left: 18px;
	margin-bottom: 23px;
	border-radius: 3px;
	overflow: hidden;
}

.chapters li img {
	filter: brightness(80%);
	width: inherit;
	height: inherit;
	transition: 0.5s;
}

.chapters li:hover img {
	transform: scale(1.2);
	filter: brightness(100%);
}

.chapters li:hover {
	border: 1px solid #fff;
}

.chapters li a {
	width: inherit;
	height: inherit;
	display: inline-block;
}

.chapters li a div {
	width: inherit;
	position: absolute;
	background-color: #111;
	/* bottom: 0; */
	margin-top: -40px;
	height: 36px;
	line-height: 36px;
	opacity: 0.75;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

/* 尾部标签 */

/* city模块 end */
/* 内容模块 end*/
/* 尾部模块 start*/
/* 底下的灰色背景 */
.footer {
	position: relative;
	z-index: 998;
	width: 100%;
	min-width: 1280px;
	min-height: 360px;
	padding-bottom: 35px;
	background-color: #111;	
	margin: 0 auto;
	overflow-x: hidden;
}

/* 社交栏模块 start*/
/* 去除点，将qq那一排居中 */
.footer_socialbar {
	display: flex;
	z-index: 2;
	list-style-type: none;
	width: 100%;
	height: 52px;
	line-height: 52px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* border-bottom: #1a1a1a solid 2px; */
}

/* 最上面的一排图显示 */
.footer_socialitem {
	position: relative;
	float: left;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-right: 34px;
	opacity: 0.4;
	cursor: pointer;
	background-size: cover;
}

/* 控制上层图片居中 */
.footer_socialitem:last-child {
	margin-right: 0;
}

/* 上层图片，鼠标悬置变白 */
.footer_socialitem:hover {
	opacity: 1;
}

/* 上层图片，代码位置 */
.footer_socialitem--weibo {
	background-image: url(../images/weibo.png);
}

.footer_socialitem--wechat {
	background-image: url(../images/wechat.png);
}

.footer_socialitem--qq {
	background-image: url(../images/qq.png);
}

.footer_socialitem--share {
	width: 100%;
	height: 100%;
	background-image: url(../images/share.png);
	background-size: cover;
	margin-top: 1px;
}

/* 分享至，那部分的图片排放，隐藏盒子 */
.share_wrap {
	display: none;
	position: absolute;
	right: -6px;
	bottom: 0;
	width: 304px;
	height: 120px;
	border-radius: 6px;
	background: #3d3d3d;
	text-align: center;
	transform: translateY(142px);
	transform-origin: top;
}

/* 点击弹出隐藏盒子内容 */
.footer_socialitem:hover .share_wrap {
	display: block;
}

/* 分享至，字体颜色大小 */
.share_wrap p {
	margin-bottom: 6px;
	height: 46px;
	line-height: 2.55;
	font-size: 18px;
	color: #ccc;
	margin-top: 0;
}

/* 三角 */
.share_wrap::after {
	content: '';
	position: absolute;
	/* 三角的位置 */
	right: 12px;
	top: -11px;
	border-bottom: 12px solid #3d3d3d;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

/* 分享至，盒子里的图片代码位置 */
.share_wrap ul li {
	display: inline-block;
	/* margin-left: -20px; */
	margin-right: 20px;
	width: 44px;
	height: 44px;
	background: transparent url(../images/share_content.png) no-repeat 0 0;
	opacity: 0.9;
}
.share_wrap ul{
	padding-left: 15px;
}
/* 分享至，盒子里的图片排放位置 */
.share_wrap ul li:last-child {
	margin-right: 0;
}

.share_wrap ul .share_qzone {
	background-position: -74px -74px;
}

.share_wrap ul .share_qq {
	background-position: -74px -10px;
}

.share_wrap ul .share_weibo {
	background-position: -138px -138px;
}

.share_wrap ul .share_bbs {
	background-position: -10px -138px;
}

/* 社交栏模块 end*/
/* 灰色背景 */
.mihoyo-cn-footer {
	padding: 30px 0;
	background: #000;
	color: #999;
	font-size: 14px;
	padding-bottom: 20px;
}

/* 两张图到左侧 */
.mihoyo-cn-footer .footer-content {
	display: flex;
	width: 1280px;
	margin: 0 auto;
}

/* 调整两张图的具体位置 */
.mihoyo-cn-footer .footer-logo {
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 94px;
	min-width: 300px;
}

/* 左图间的间距和 |  */
.mihoyo-cn-footer .footer-logo span {
	width: 1px;
	height: 28px;
	background: #666;
	margin-left: 25px;
	margin-right: 25px;
}

/* 左图大小，删除变大 */
.mihoyo-cn-footer .footer-logo img:first-child {
	height: 42px;
}

/* 左图大小 ，删除变小*/
.mihoyo-cn-footer .footer-logo img.game-logo {
	width: 110px;
	height: auto;
}

/* 左图与右字的间距 */
.mihoyo-cn-footer .footer-info {
	color: #aaa;
	margin-left: 60px;
	line-height: 24px;
}

/* 尾部文字模块 start*/
/* 文字之间的行高 */
.mihoyo-cn-footer .footer-info .footer-protocol {
	color: #fff;
	margin-bottom: 28px;
}

/* 文字左边对齐 */
.mihoyo-cn-footer .footer-link a:first-child {
	margin-left: 0;
}

/* 颜色 */
.mihoyo-cn-footer .footer-info a.protocol {
	color: #fff;
}

.mihoyo-cn-footer .footer-link a {
	margin: 0 8px 0 5px;
}

.mihoyo-cn-footer p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.5;
}



.mihoyo-cn-footer .footer-info .split-line {
	margin: 0 10px;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #fff;
}

/* 尾部文字模块 end*/
/* 尾部图标模块 start */
/* 底部图片链接摆放 */
.mihoyo-cn-footer .footer-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
	flex-wrap: wrap;
	width: 800px;
}

.mihoyo-cn-footer .footer-icon a {
	display: block;
	width: 116px;
	height: 46px;
	margin-right: 15px;
	background-size: 116px 46px;
	margin-bottom: 10px;
}

/* 尾部图标模块 end */
/* 尾部模块 end*/
