* {
	margin: 0 auto;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	position: relative
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#overall {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.navigation_bar {
	width: 100%;
	height: 66px;
	background-color: rgba(36, 36, 36, 0.8);
	box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
	position: fixed;
	z-index: 999;
}

.navigation_left {
	position: relative;
	width: 900px;
	height: 66px;
	float: left;
}

.navigation_left img {
	width: 121px;
	height: 75px;
	padding-left: 100px;
	position: relative;
	top: -10px;
}

.navigation_left img:hover {
	cursor: pointer;
}

.navigation_left .menu {
	width: 536px;
	height: 66px;
	position: relative;
	left: -100px;
	float: right;
}

.navigation_left .menu a {
	float: left;
	text-align: center;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	line-height: 60px;
	color: #ccc;
	width: 45px;
	height: 66px;
	margin: 0 30px;
	border-top: 4px solid rgba(36, 36, 36, 0.1);
	transition: 0.5s;
}

.navigation_left .menu .active {
	color: #ffffff;
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
	border-top: 4px solid #69e0ff;
}

.navigation_left .menu a:hover {
	text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
	color: #ffffff;
	border-top: 4px solid #69e0ff;
}

.navigation_right {
	/* background-color: #69e0ff; */
	position: absolute;
	width: 270px;
	right: 0;
	white-space: nowrap;
	height: 100%;
	top: 0;
	align-items: center;
}

.navigation_right span {
	text-align: center;
	position: relative;
	top: 3px;

}

.navigation_right img {
	vertical-align: middle;
	margin-left: 18px;
	opacity: 0.6;
}

.navigation_right a {
	width: 147px;
	height: 27px;
	float: left;
	position: absolute;
	top: 20px;
	text-align: center;
	color: #cccccc;
	display: block;
}

.navigation_right a:hover img {
	opacity: 1;
}

.navigation_right a:hover {
	color: #ffffff;
}

.header__login .login__btn {
	line-height: 3.6;
	align-items: center;
	float: right;
	padding: 0 10px;
	border: 0;
	outline: none;
	background: none;
	font-size: 17px;
	color: #ccc;
	cursor: pointer;
}

.header__login .login__btn:hover {
	color: #ffffff;
}

.header__login .login__btn:hover img {
	opacity: 1;
}

.video-box {
	position: relative;
	height: 100vh;
	background-color: #C1CFF7;
	/*进行视频裁剪*/
	overflow: hidden;
}

.video-box .video-background {
	position: absolute;
	left: 50%;
	top: 50%;
	/*保证视频内容始终居中*/
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	/*保证视频充满屏幕*/
	object-fit: cover;
	min-height: 800px;
	z-index: 2;
}

/* 导航栏样式表完结 */
/* ____________________ 下载样式  _______________*/
.download {
	width: 540px;
	height: 125px;
	/* 	background-color: #69e0ff; */
	position: relative;
	top: -200px;
	margin: auto;
	z-index: 6;
}

.download .QRcode {
	width: 102px;
	height: 102px;
	float: left;
	position: relative;
	top: 10px;
}

.download .download_center {
	width: 160px;
	height: 112px;
	margin-top: 7px;
	margin-left: 5px;
	float: left;

}

.download a {
	display: block;
}

.download .download_center img {
	width: 160px;
	height: 52px;
}

.download .PC_download {
	float: right;
	margin-top: 5px;
}

.cadpa_12 {
	position: relative;
	top: -310px;
	margin-left: 20px;
	z-index: 5;
}

/* 下载样式结束 */
/* ____________________新闻资讯样式___________________*/
.news {
	width: 100%;
	height: 910px;
	background-color: #69e0ff;
	position: absolute;
	margin-top: -260px;
	background: url(../img/29770c4.jpg)no-repeat center/cover;
	color: #ffffff;
}

.news h3 {
	width: 200px;
	height: 66px;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	margin-top: 183px;
	margin-bottom: 60px;
	position: relative;
}

.news h3::before {
	content: '';
	position: absolute;
	left: -410px;
	top: 45%;
	width: 385px;
	height: 14px;
	background: url(../img/左.png) no-repeat right center/cover;
	;
}

.news h3::after {
	transform: rotateY(180deg);
}

.news h3::after {
	content: '';
	position: absolute;
	left: 220px;
	top: 45%;
	width: 385px;
	height: 14px;
	background: url(../img/右.png) no-repeat right center/cover;
	;
}

.news_main {
	width: 1280px;
	height: 400px;
	background: rgba(38, 18, 12, 0.62);
}

/* 轮播图样式表 */
.news_main .Slideshow {
	position: relative;
	/* background: rgba(38,18,12,0.62); */
	background-color: #C1CFF7;
	width: 640px;
	height: 400px;
	margin: 0;
	float: left;
}

ul.slides {
	position: relative;
	width: 640px;
	height: 400px;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: antiquewhite;
	overflow: hidden;

}

li.slide {
	margin: 0;
	padding: 0;
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-self: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120px;
	color: floralwhite;
	text-align: center;
	transition: .5s transform ease-in-out;
	animation: kk 10s infinite;
	animation-fill-mode: forwards;
}

@keyframes kk {
	0% {
		transform: translateX(0%);
	}
	
	5%{
		transform: translateX(0%);
	}
	30%{
		transform: translateX(-100%);
	}
	35% {
		transform: translateX(-100%);
	}

	60% {
		transform: translateX(-200%);
	}
	65%{
		transform: translateX(-200%);
	}
	90%{
		transform: translateX(-300%);
	}
	95%{
		transform: translateX(-300%);
	}
	100% {
		transform: translateX();
	}
}

.slide:nth-of-type(1) {
	background: url(../img/09c20395484b26b23d94f8c7fc4a11e6_3545434977499044868.jpg);
	background-size: 100%;
}

.slide:nth-of-type(2) {
	left: 100%;
	background: url(../img/227f7c0702fac88b41a55fc7bd89dc8b_751050465766911053.jpg);
	background-size: 100%;
}

.slide:nth-of-type(3) {
	background: url(../img/903db10ec51e8dcd620b4c3c64c6cf08_1321403954333962126.jpg);
	background-size: 100%;
	left: 200%;
}

.slide:nth-of-type(4) {
	background: url(../img/a0ff538977891b304cad887565f03852_1660713605912253082.jpg);
	background-size: 100%;
	left: 300%;
}
/*

按钮切换

input[type="radio"] {
	position: relative;
	z-index: 100;
	display: none;
}

.controls-visible {
	position: absolute;
	width: 100%;
	bottom: 12px;
	text-align: center;
}

.controls-visible label {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin: 0 3px;
	border: solid 2px rgba(255, 255, 255, 0.3);
}
.slides input[type="radio"]:nth-of-type(1):checked~.controls-visible label:nth-of-type(1) {
	background-color: #fff;
}

.slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
	background-color: #fff;
}

.slides input[type="radio"]:nth-of-type(2):checked~.controls-visible label:nth-of-type(2) {
	background-color: #fff;
}

.slides input[type="radio"]:nth-of-type(3):checked~.controls-visible label:nth-of-type(3) {
	background-color: #fff;
}

.slides input[type="radio"]:nth-of-type(4):checked~.controls-visible label:nth-of-type(4) {
	background-color: #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked~.slide {
	transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked~.slide {
	transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked~.slide {
	transform: translateX(-200%);
}

.slides input[type="radio"]:nth-of-type(4):checked~.slide {
	transform: translateX(-300%);
}*/

/* --------------------tab栏样式--------------------------- */
.news_main .LatestNews {
	position: relative;
	width: 640px;
	height: 400px;
	margin: 0;
	float: left;
}

.news_main .LatestNews .news__tab__list {
	width: 592px;
	height: 36px;
	margin: 35px auto 0;
	/* background-color: #69e0ff; */
	border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.news_main .LatestNews .news__tab__list li {
	float: left;
	position: relative;
	padding: 0 19px 12px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.news_main .LatestNews .news__tab__list li:hover {
	color: #ffd49f;
}

.whole ul {
	width: 592px;
	height: 260px;
	margin: 0 24px;
	/* background: rgba(38,18,12,0.62); */
	position: absolute;

}

.whole ul li {
	width: inherit;
	height: 52px;
}

.whole ul li .news__item {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.08);
	box-sizing: content-box;
	font-size: 16px;
	color: #fff;
}

.whole ul li .news__date {
	color: rgba(255, 255, 255, 0.35);
	font-size: 14px;
	width: 77px;
	height: 50px;
	line-height: 50px;
}

.whole ul li .news__title {
	margin: 0;
	width: 480px;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
}

.whole ul li .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.whole .new_bottom {
	display: block;
}

.whole ul {
	display: none;
}

.news__tab__list .news__tab__item {
	color: #ffd49f;
	border-bottom: 3px solid #ffd49f;
	padding-bottom: 15px;
}

.news__more {
	position: absolute;
	right: 33px;
	bottom: 30px;
	height: 22px;
	line-height: 22px;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
	padding-left: 38px;
	background: url(../img/downloads1.png) no-repeat left center/22px;
}

.news__more:hover {
	color: #ffd49f;
	background: url(../img/downloads.png) no-repeat left center/22px;
}



/* _________________________地区介绍样式_________________ */


.city {
	width: 100%;
	height: 1300px;
	margin-top: 650px;
	/* z-index: 99; */
	/* opacity: 0.2; */
	background-color: #69e0ff;
}

.city_list {
	width: 100%;
	height: 1300px;
	position: relative;
	overflow: hidden;
}

.city_list .city_list_item {
	width: 100%;
	height: 260px;
}

.city__list-bg {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.city__list-bg img {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	transition: 0.7s;
}

.city_list .city_list_item .city__list-bg a {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 260px;
	font-size: 36px;
	color: #fff;
	line-height: 260px;
	background: rgba(0, 0, 0, 0.4);
	background-size: 132px;
	text-shadow: 0 2px 6px rgb(0 0 0 / 20%);
	z-index: 8;
}

.city_list .city_list_item .city__list-bg a p {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 260px;
	font-size: 36px;
	color: #fff;
	line-height: 260px;
	background: url(../img/downloads2.png)center no-repeat;
	background-size: 132px;
	z-index: 99;
}

.city_list .city_list_item .city__list-bg a p::after {
	position: absolute;
	bottom: 91px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: '';
	width: 210px;
	height: 10px;
	background: url(../img/downloads.png) center no-repeat;
	z-index: 999;
	opacity: 0;
}

.city_list .city_list_item .city__list-bg a p:hover::after {
	opacity: 1;
}

.city_list .city_list_item .city__list-bg:hover .img_bj {
	transform: scale(1.1);
}

.city__list-char {
	position: absolute;
	width: 100%;
	height: 260px;
	z-index: 5;
	text-align: center;
	display: none;
	position: relative;
	background-repeat: no-repeat;
	background-position: calc(50% + 360px) 50%;
	background-size: 960px 260px;
	opacity: 0;
	transition: all 0.2s 0s ease-in;
	border: #fff solid 6px;
	box-sizing: border-box;
	display: block;
}

.city_list .city_list_item .city__list-bg:hover .city__list-char {
	opacity: 1;
}

.city_list .city_list_item .city__list-bg:hover a {
	background: none;

}

.city_list_item .city__list-char .img_rw {
	width: 900px;
}

.city_list .unknown {
	width: 100%;
	height: 260px;
	background: url("../img/9a62be8.jpg");
}

.city_list .unknown p {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 260px;
	font-size: 36px;
	color: #999999;
	line-height: 260px;
	background-size: 132px;
	z-index: 99;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

/* 地区介绍完结 */

/* ————————————————————————————	底部样式	—————————————————————————————————— */
.footer {
	position: relative;
	z-index: 99;
	width: 100%;
	min-width: 1280px;
	min-height: 360px;
	padding-bottom: 35px;
	background-color: #111;
	margin: 0 auto;
}

.footer * {
	margin: 0;
	padding: 0;
}

/* 社交栏模块 start*/
/* 去除点，将qq那一排居中 */
.footer_socialbar {
	display: flex;
	z-index: 2;
	list-style-type: none;
	width: 100%;
	height: 52px;
	line-height: 52px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

/* 最上面的一排图显示 */
.footer_socialitem {
	position: relative;
	float: left;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-right: 34px;
	opacity: 0.4;
	cursor: pointer;
	background-size: cover;
}

/* 控制上层图片居中 */
.footer_socialitem:last-child {
	margin-right: 0;
}

/* 上层图片，鼠标悬置变白 */
.footer_socialitem:hover {
	opacity: 1;
}

/* 上层图片，代码位置 */
.footer_socialitem--weibo {
	background-image: url(../images/weibo.png);
}

.footer_socialitem--wechat {
	background-image: url(../images/wechat.png);
}

.footer_socialitem--qq {
	background-image: url(../images/qq.png);
}

.footer_socialitem--share {
	width: 100%;
	height: 100%;
	background-image: url(../images/share.png);
	background-size: cover;
}

/* 分享至，那部分的图片排放，隐藏盒子 */

.share_wrap {
	display: none;
	position: absolute;
	right: -6px;
	bottom: 0;
	width: 304px;
	height: 120px;
	border-radius: 6px;
	background: #3d3d3d;
	text-align: center;
	transform: translateY(142px);
	transform-origin: top;
}

/* 点击弹出隐藏盒子内容 */
.footer_socialitem:hover .share_wrap {
	display: block;
}

/* 分享至，字体颜色大小 */
.share_wrap p {
	margin-bottom: 6px;
	height: 46px;
	line-height: 2.55;
	font-size: 18px;
	color: #ccc;
}

/* 三角 */
.share_wrap::after {
	content: '';
	position: absolute;
	right: 12px;
	top: -11px;
	width: 0;
	height: 0;
	border-bottom: 12px solid #3d3d3d;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.share_wrap ul li {
	display: inline-block;
	margin-right: 20px;
	width: 44px;
	height: 44px;
	background: transparent url(../images/share_content.png) no-repeat 0 0;
	opacity: 0.9;
}

.share_wrap ul li:last-child {
	margin-right: 0;
}

.share_wrap ul .share_qzone {
	background-position: -74px -74px;
}

.share_wrap ul .share_qq {
	background-position: -74px -10px;
}

.share_wrap ul .share_weibo {
	background-position: -138px -138px;
}

.share_wrap ul .share_bbs {
	background-position: -10px -138px;
}

/* 社交栏模块 end*/
/* 灰色背景 */
.mihoyo-cn-footer {
	padding: 30px 0;
	background: #000;
	color: #999;
	font-size: 14px;
	padding-bottom: 20px;
}

/* 两张图到左侧 */
.mihoyo-cn-footer .footer-content {
	display: flex;
	width: 1280px;
	margin: 0 auto;
}

/* 调整两行图的具体位置 */
.mihoyo-cn-footer .footer-logo {
	flex-direction: column;
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 94px;
	min-width: 300px;
}


.mihoyo-cn-footer .footer-logo span {
	width: 1px;
	height: 28px;
	background: #666;
	margin-left: 25px;
	margin-right: 25px;
}

.mihoyo-cn-footer .footer-logo img:first-child {
	height: 42px;
}

.mihoyo-cn-footer .footer-logo img.game-logo {
	width: 110px;
	height: auto;
}

.mihoyo-cn-footer .footer-info {
	color: #aaa;
	margin-left: 60px;
	line-height: 24px;
}

/* 尾部文字模块 start*/
.mihoyo-cn-footer .footer-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.mihoyo-cn-footer .footer-info .footer-protocol {
	color: #fff;
	margin-bottom: 28px;
}

.mihoyo-cn-footer .footer-link a:first-child {
	margin-left: 0;
}

.mihoyo-cn-footer .footer-info a.protocol {
	color: #fff;
}

.mihoyo-cn-footer .footer-link a {
	margin: 0 8px 0 5px;
}

.mihoyo-cn-footer p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.5;
}

.mihoyo-cn-footer .footer-info .footer-advice p {
	padding: 0;
}

.mihoyo-cn-footer .footer-info .inline-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mihoyo-cn-footer .footer-info .inline-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mihoyo-cn-footer .footer-info .split-line {
	margin: 0 10px;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #fff;
}

/* 尾部文字模块 end*/
/* 尾部图标模块 start */
/* 底部图片链接摆放 */
.mihoyo-cn-footer .footer-icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px 0;
	flex-wrap: wrap;
	width: 800px;
}

.mihoyo-cn-footer .footer-icon a {
	display: block;
	width: 116px;
	height: 46px;
	margin-right: 15px;
	background-size: 116px 46px;
	margin-bottom: 10px;
}

/* 尾部图标模块 end */
/* 尾部模块 end*/
